{% extends "templates/custom_web.html" %}

{% macro Breadcrumbs(training) %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/trainings/">Trainings</a></li>
        <li class="breadcrumb-item"><a href="/trainings/{{ training.name }}/">{{ training.title }}</a></li>
        <li class="breadcrumb-item active">Submissions</li>
    </ol>
</nav>
{% endmacro %}

{% macro TrainingHeader(training) %}
<div class="training-header">
    <div class="h2">{{training.title}}</div>
    <div class="training-dates">{{frappe.utils.format_date(training.begin_date, "MMM dd")}} - {{
        frappe.utils.format_date(training.end_date, "MMM dd") }}, {{training.end_date.year}}</div>
    <div>
        {% set client = frappe.get_doc("Client", training.client) %}
        <div>{{client.title}}</div>
    </div>
</div>
{% endmacro %}

{% macro Pagination(training_name, current_page, total_pages) %}

{% set has_next = current_page < total_pages %}
{% set has_prev = current_page > 1 %}

{% set next_url = get_submissions_url(training_name, page=current_page+1) if has_next else none %}
{% set prev_url = get_submissions_url(training_name, page=current_page-1) if has_prev else none %}

<nav>
    <ul class="pagination">
        <li class="page-item {{ 'disabled' if not has_prev }}">
            <a class="page-link" href="{{ prev_url or '' }}" >Previous</a>
        </li>
        <li class="page-item {{ 'disabled' if not has_next }}">
            <a class="page-link" href="{{ next_url or '' }}">Next</a>
        </li>
    </ul>
</nav>
{% endmacro %}

{% macro SubmissionCard(submission) %}
{% set author_name = submission.author_full_name or submission.author %}
{% set submitted_at = submission.submitted_at or submission.modified %}
{% set now_dt = frappe.utils.now_datetime() %}
{% set published_ago = format_datetime_diff(now_dt - submitted_at) %}
<a class="text-decoration-none color-inherit" href="{{ get_submission_url(submission) }}">
    <div class="submission-card p-4 my-4">
        <div class="submission-card-header mb-4 d-flex justify-content-between">
            <div>
                <div><strong>{{ author_name }}'s solution</strong></div>
                <div class="text-muted">to {{ submission.problem_title }} in {{ submission.problem_set_title }}
                </div>
            </div>
            <div class="d-flex mt-1 align-items-center submission-status">
                {% if submission.for_review %}
                <span class="mr-2 for-review">
                    <i class="fa-solid fa-circle"></i>
                </span>
                {% endif %}
                <span>
                    {% if submission.test_outcome == "passed" %}
                    <i class="fa-solid fa-circle-check tests-passed-icon"></i>
                    {% else %}
                    <i class="fa-solid fa-circle-xmark tests-failed-icon"></i>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="submission-card-body">
            <pre><code class="language-python">
                {{- submission.code -}}
            </code></pre>
        </div>
        <div class="submission-card-footer d-flex justify-content-between align-items-center">
            <div>
                {% if published_ago %}
                Published {{ published_ago }} ago
                {% endif %}
            </div>

            <div class="d-flex align-items-center">
                <i class="comment-count-icon mt-half mr-2 font-lg fa-regular fa-message"></i> {{
                submission.comment_count }}
            </div>
        </div>
    </div>
</a>
{% endmacro %}

{% macro SubmissionsEmptyState() %}
<div class="col-12 w-100">
    <div class="d-block text-center p-8 border rounded-lg">
        <div class="font-xxl"><i class="fa-solid fa-check"></i></div>
        <div class="font-xl"><strong>You're all caught up</strong></div>
        <div class="text-muted">You've reviewed all the submissions for now!</div>
    </div>
</div>
{% endmacro %}

{%- block style %}
{{ super() }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
{%- endblock -%}

{% block page_content %}
{{ Breadcrumbs(training) }}

{{ TrainingHeader(training) }}

<div class="submissions">
    <div class="row">
        {% if submissions %}
        {% for submission in submissions %}
        <div class="col-12 col-md-6 col-xl-4">{{ SubmissionCard(submission) }}</div>
        {% endfor %}
        <div class="col-12 d-flex justify-content-center">
            {{ Pagination(training.name, current_page, total_pages) }}
        </div>
        {% else %}
        {{ SubmissionsEmptyState() }}
        {% endif %}
    </div>
</div>
{% endblock %}

{%- block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>

{{ super() }}
{%- endblock %}
