:root {
    --card-border-color: var(--gray-200);
    --card-background-color: white;

    --filters-bg-color: #eee;

    --tests-passing-color: var(--green-600);
    --tests-failing-color: var(--red-600);
    --review-pending-color: var(--yellow-500);
}

body {
    background: var(--gray-50);
}

h1 {
    margin-top: 1.2rem;
}

.training-header {
    margin-bottom: 20px;
    padding: 20px;
    background: #eee;
    border-radius: 8px;
}

.training-header .h2 {
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-bar .custom-select {
    background-color: var(--filters-bg-color);
}

.filter-bar .left-section,
.filter-bar .right-section {
    display: flex;
    justify-content: end;
    align-items: center;
}

.filter-bar .left-section .ls-item {
    margin-right: 16px;
}

.filter-bar .form-check {
    margin-left: 16px;
    display: flex;
    align-items: center;
    padding-left: 0;
    font-size: 1.2em;
}

.filter-bar .form-check-input {
    display: flex;
    align-items: center;
    margin: 0;
}

.filter-bar .form-check-label {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.filter-bar .review-pending-check {
    color: var(--review-pending-color);
}

.filter-bar .review-pending-check .form-check-input {
    border-color: var(--review-pending-color);
}

.filter-bar .tests-passing-check {
    color: var(--tests-passing-color);
}

.filter-bar .tests-passing-check .form-check-input {
    border-color: var(--tests-passing-color);
}

.filter-bar .tests-failing-check {
    color: var(--tests-failing-color);
}

.filter-bar .tests-failing-check .form-check-input {
    border-color: var(--tests-failing-color);
}

.filter-bar .form-check-label {
    font-weight: 600;
}

.submission-card {
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.submission-card code {
    border-radius: 8px;
    height: 239px;
    line-height: 160% !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.submission-card-footer {
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

.tests-passed-icon {
    color: var(--tests-passing-color);
}

.tests-failed-icon {
    color: var(--tests-failing-color);
}

.mt-half {
    margin-top: 0.125rem !important;
}

.comment-count-icon {
    color: var(--gray-600);
}

.font-lg {
    font-size: 1.2em;
}

.font-xl {
    font-size: 1.5em;
}

.font-xxl {
    font-size: 2em;
}

.color-inherit {
    color: inherit;
}

.color-inherit:hover {
    color: inherit;
}

.submission-status {
    max-height: 30px;
}

.submission-icon {
    font-size: 0.8em;
}

.for-review {
    color: var(--review-pending-color);
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
