{% extends "templates/custom_web.html" %}

{% macro Breadcrumbs(training, submission) %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/trainings/">Trainings</a></li>
        <li class="breadcrumb-item"><a href="/trainings/{{ training.name }}/">{{ training.title }}</a></li>
        <li class="breadcrumb-item"><a href="/trainings/{{ training.name }}/submissions">Submissions</a></li>
        <li class="breadcrumb-item">{{ submission.problem_set_title }}</li>
        <li class="breadcrumb-item">{{
            submission.problem_title }}</li>
        <li class="breadcrumb-item active">{{ submission.author_full_name }}'s solution</li>
    </ol>
</nav>
{% endmacro %}

{% macro SubmissionHeader(submission, has_prev=false, has_next=false) %}
<div class="submission-header">
    <div class="d-flex justify-content-between">
        <div class="h2 font-weight-bold">{{ submission.author_full_name }}'s solution</div>

        <div class="prev-next">
            <a id="prev-link" class="btn {{ 'disabled' if not has_prev }}" href="{{ prev_submission_url if has_prev }}">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            {{- '' -}}
            <a id="next-link" class="btn {{ 'disabled' if not has_next }}" href="{{ next_submission_url if has_next }}">
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </div>
    </div>
    <div class="h5 font-weight-light">
        <span class="text-muted">to</span>
        <strong>{{ submission.problem_title }}</strong>
        <span class="text-muted">in</span>
        <strong>{{ submission.problem_set_title }}</strong>
    </div>
</div>
{% endmacro %}

{% macro ReviewComments(submission) %}
{% set doctype = "Practice Problem Latest Submission" %}
{% set docname = submission.name %}
{% set title = "Comments" %}
{% set cta_title = "New Comment" %}
{% set single_thread = True %}
{% include "frappe/templates/discussions/discussions_section.html" %}
{% endmacro %}

{% macro SubmissionTestStatus(test_outcome) %}
<pre
    class="{{ 'test-status-passed' if test_outcome == 'passed' else 'test-status-failed' }}"><i class="font-sm fa-solid fa-circle"></i> {{ test_outcome|capitalize }} </pre>
{% endmacro %}

{% macro SubmissionBody(submission) %}
<div class="submission-body">
    {% set submitted_at = submission.submitted_at or submission.modified %}
    {% set submitted_ago = format_datetime_diff(
    frappe.utils.now_datetime() - submitted_at,
    years_suffix=" years",
    months_suffix=" months",
    days_suffix=" days",
    hours_suffix=" hours",
    minutes_suffix=" minutes",
    seconds_suffix=" seconds") %}

    <div class="submission-info">
        <div class="submission-title h6">
            Submitted {{ submitted_ago }} ago
        </div>
        <div class="submission-test-status">
            {{- SubmissionTestStatus(submission.test_outcome) -}}
        </div>
    </div>

    <div class="submission-code">
        <pre><code>
            {{- submission.code|e -}}
        </code></pre>
    </div>
</div>
{% endmacro %}

{%- block style %}
{{ super() }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
{%- endblock -%}

{% block page_content %}
{{ Breadcrumbs(training, submission) }}

<div class="my-2">
    {{ SubmissionHeader(submission, has_prev=has_prev, has_next=has_next) }}
</div>

<div class="my-2">
    {{ SubmissionBody(submission) }}
</div>

<div class="my-2">
    {{ ReviewComments(submission) }}
</div>
{% endblock %}

{%- block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>

{{ super() }}
{%- endblock %}
