:root {
    --content-color: var(--gray-800);
    --content-dark-color: var(--gray-900);
    --border-color: #E2E6E9;

    --tab-color: var(--gray-700);
    --tab-bg-color: white;
    --tab-active-color: var(--gray-800);
    --tab-active-bg-color: var(--gray-100);

    --btn-sidebar-color: var(--gray-700);
    --btn-sidebar-bg-color: none;
    --btn-sidebar-active-color: var(--gray-900);
    --btn-sidebar-active-bg-color: var(--gray-200);
}

.content {
    color: var(--content-color);
}

.custom-link {
    color: var(--content-color);
}

.custom-link:hover {
    color: var(--content-dark-color);
}

.tabs-bar {
    padding: 0;
    margin: 0;
    border: 1px solid var(--border-color);
}

.tabs-list {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.tab-item {
    display: inline;
    padding: 4px 6px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25%;
    text-align: center;
    background-color: var(--tab-bg-color);
    color: var(--tab-color);
    border-right: 1px solid var(--border-color);
}

.tab-item.active {
    max-width: 100%;
    background-color: var(--tab-active-bg-color);
    color: var(--tab-active-color);
}

.sidebar {
    overflow: auto;
    /* TODO: this works fine for now, but won't transfer well to smaller devices */
    height: 562.5px;
    border: 1px solid var(--border-color);
}

.sidebar-header {
    padding: 8px 0;
    border-bottom: 0.5px solid var(--border-color);
}

.btn-sidebar-header {
    padding: 0.25rem 0.45rem;
    background-color: var(--btn-sidebar-bg-color);
    color: var(--btn-sidebar-color);
    font-weight: bold;
    border: none;
    box-shadow: none;
}

.btn-sidebar-header:focus,
.btn-sdebar-header:active {
    box-shadow: none;
}

.btn-sidebar-header.active {
    background-color: var(--btn-sidebar-active-bg-color);
    color: var(--btn-sidebar-active-color);
}

.sidebar-content h1,
.sidebar-content h2,
.sidebar-content h3,
.sidebar-content h4,
.sidebar-content h5,
.sidebar-content h6 {
    margin-top: 1.15rem !important;
    margin-bottom: 1rem !important;
}

.sidebar-content {
    padding-top: 8px;
    font-size: 0.9em;
}

.sidebar-content pre {
    padding: 8px;
    background-color: var(--gray-100);
    border-radius: 5px;
}

.sidebar-content pre.test-result {
    padding: 8px;
    background-color: inherit;
}

.code {
    width: 100%;
}

.CodeMirror {
    border: 1px solid #f7f7f7;
    height: 200px;
}

.code-footer {
    border: 1px solid var(--border-color);
}

.code-footer .arguments {
    border: 1px solid var(--border-color);
}

.code-footer .buttons .btn {
    padding: 0.25rem 0.45rem;
    color: var(--content-color);
}
