{% extends "templates/custom_web.html" %}

{% block head_include %}
{{ super() }}
<link rel="stylesheet" href="/assets/engage/codemirror/lib/codemirror.css" />
{% endblock %}

{%- block navbar -%}{%- endblock -%}

{% macro TitleBar(training, problem_set, problem) %}
<div class="title-bar row p-4 border-bottom mx-0">

    <div class="col-1 col-md-3 text-left">
        <a class="text-decoration-none custom-link" href="/trainings/{{ training.name }}">
            <i class="fa-solid fa-arrow-left"></i>
            <span class="d-none d-md-inline">Back to training</span>
        </a>
    </div>

    <div class="col-10 col-md-6 text-center">
        <span class="d-none d-md-inline">{{ problem_set.title }} / </span>
        <strong>{{ problem.title }}</strong>
    </div>

    <div class="col-1 col-md-3"></div>

</div>
{% endmacro %}

{%- macro Tabs(files) -%}
<div class="tabs-bar">
    <ul class="tabs-list">
        {%- for file in files -%}
        <a class="tab-item text-decoration-none custom-link {{ 'active' if loop.first }}"
            data-filepath="{{ file.relative_path }}" data-code="{{ file.content | tojson }}" href="javascript:;">
            {{ file.relative_path }}
        </a>
        {%- endfor -%}
    </ul>
</div>
{%- endmacro -%}

{%- macro Code(file, code) -%}
<div id="{{ file.relative_path }}" class="code-editor" data-filepath="{{ file.relative_path }}">
    <textarea class="code overflow-auto" rows="50">
        {{- code -}}
    </textarea>

    <div class="code-footer d-flex justify-content-between align-items-center">
        <input type="text" class="arguments mx-2" placeholder="arguments">
        <div class="buttons mx-2">
            <button class="btn btn-submit m-1 run">Run</button>
            <button class="btn btn-submit m-1 run-tests">Run tests</button>
            <button class="btn btn-submit m-1 submit">Submit</button>
        </div>
    </div>
</div>
{%- endmacro -%}

{%- macro SideBar(problem) -%}
<div id="sidebar" class="sidebar">
    <div class="sidebar-header d-flex justify-content-around">
        <button class="btn btn-sidebar-header" id="sidebar-tab-instructions">
            Instructions
        </button>
        <button class="btn btn-sidebar-header" id="sidebar-tab-output">
            Output
        </button>
        <button class="btn btn-sidebar-header" id="sidebar-tab-results">
            Results
        </button>
    </div>

    <div id="sidebar-content" class="sidebar-content px-2">
    </div>
</div>
{%- endmacro -%}

{% macro Editor(problem) -%}
<div class="editor-env">
    <div class="row mx-0">
        <div class="col-12 col-md-8 mx-0 px-0">
            {{ Tabs(problem.code_files) }}

            {% for file in problem.code_files %}
            {% set submitted_code = submission and submission.files[file.relative_path] %}
            {{ Code(file, submitted_code or file.content or "") }}
            {% endfor %}
        </div>
        <div class="col-12 col-md-4 mx-0 px-0">
            {{ SideBar(problem) }}
        </div>
    </div>
</div>
{%- endmacro %}

{%- macro Data(data_kv) -%}
<div id="data" class="d-none" {%- for k, v in data_kv.items() %} data-{{ k }}="{{ v }}" {% endfor -%}></div>
{%- endmacro -%}

{%- macro Comments(latest_submission) -%}
{% set doctype, docname = 'Practice Problem Latest Submission', latest_submission.name %}
{% set title = 'Comments' %}
{% set cta_title = 'New Comment' %}
{% set single_thread = True %}
{% include "frappe/templates/discussions/discussions_section.html" %}
{%- endmacro -%}

{% block content %}
<div class="content">
    {{ Data({
    "training": training.name,
    "problem-set": problem_set.problem_set,
    "problem": problem.name,
    "submission": (submission and submission.test_result or (none|tojson))|e,
    "default-filepath": problem.code_files[0].relative_path,
    "problem-description": frappe.utils.md_to_html(problem.description)|e }) }}

    {{ TitleBar(training, problem_set, problem) }}

    <div class="main-content">
        {{ Editor(problem) }}
    </div>
</div>

<div class="mx-8">
    {% if submission %}
    {{ Comments(submission) }}
    {% endif %}
</div>
{% endblock %}

{%- block script %}

<script src="/assets/engage/codemirror/lib/codemirror.js"></script>
<script src="/assets/engage/codemirror/mode/python/python.js"></script>
<script src="/assets/engage/codemirror/keymap/sublime.js"></script>

<script src="/assets/engage/codemirror/addon/edit/matchbrackets.js"></script>
<script src="/assets/engage/codemirror/addon/comment/comment.js"></script>

<script type="text/javascript" src="/assets/engage/livecode.js"></script>

{{ super() }}

{%- endblock %}
