:root {
    --content-color: var(--gray-700);
    --content-dark-color: var(--gray-900);
    --border-color: var(--gray-400);

    --tab-color: var(--gray-700);
    --tab-bg-color: white;
    --tab-active-color: var(--gray-100);
    --tab-active-bg-color: var(--gray-600);
}

.content {
    color: var(--content-color);
}

.custom-link {
    color: var(--content-color);
}

.custom-link:hover {
    color: var(--content-dark-color);
}

.tabs-bar {
    padding: 0;
    margin: 0;
    border: 1px solid var(--border-color);
}

.tabs-list {
    padding: 0;
    margin: 0;
}

.tab-item {
    display: inline;
    padding: 4px 6px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25%;
    text-align: center;
    background-color: var(--tab-bg-color);
    color: var(--tab-color);
    border: 1px solid var(--border-color);
}

.tab-item.active {
    max-width: 100%;
    background-color: var(--tab-active-bg-color);
    color: var(--tab-active-color);
}
