{% extends "templates/custom_web.html" %}

{% macro Breadcrumbs() %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/">Trainings</a></li>
	<li class="breadcrumb-item"><a href="/trainings/{{t.year}}/{{t.slug}}">{{ t.title }}</a></li>
	<li class="breadcrumb-item">{{ problem_set_title }}</li>
	<li class="breadcrumb-item active" aria-current="page">{{problem.title}}</li>
    </ol>
</nav>
{% endmacro %}

{% macro render_problem(problem) %}
<div class="h2">{{problem.title}}</div>
<div class="problem-description">{{frappe.utils.md_to_html(problem.description) }}</div>

{% if not can_submit %}
<div class="alert alert-warning">
    Submissions are closed for this problem.
</div>
{% endif %}

<div class="code-editor" 
     data-problem="{{problem.name}}" 
     data-setup-code='{{problem.setup_code or "" | tojson}}' 
     data-tests='{{problem.test_files[0].content | tojson}}'>
    <div class="heading">
	<input type="text" class="arguments" placeholder="arguments">
	<button class="btn btn-secondary btn-sm run">Run</button>
	<button class="btn btn-secondary btn-sm run-tests">Run Tests</button>
	<button class="btn btn-secondary btn-sm submit" style="margin: 0px 10px;" {{ "disabled" if not can_submit }}>Submit</button>
	<span class="submission-status" style="padding: 10px;"></span>
    </div>

    <textarea class="code" style="width: 100%;" rows="4">{{problem.code or ""}}</textarea>
    <div style="clear:both"></div>
    <div class="heading">
	<pre class="output m-1"></pre>
    </div>

</div>
{% endmacro %}

{% block head_include %}

{{ super() }}

<link rel="stylesheet" href="https://notes.pipal.in/tmp/static/codemirror/lib/codemirror.css" />

{% endblock %}

{% block page_content %}
<div class="problem-page">
    {{ Breadcrumbs() }}
    {{ render_problem(problem) }}

    {% if latest_submission %}
    {% set doctype, docname = 'Practice Problem Latest Submission', latest_submission.name %}
    {% set title = 'Review Comments' %}
    {% set cta_title = 'New Comment' %}
    {% set single_thread = True %}
    {% include "frappe/templates/discussions/discussions_section.html" %}
    {% endif %}

    <div id="data" 
	 data-problem-set='{{data.problem_set}}'
	 data-training='{{data.training}}'
	 data-problem='{{data.problem | e}}'
	 data-submission='{{data.submission_json | e}}'>
    </div>
</div>
{% endblock %}

{% block body_include %}

{{ super() }}

<script src="https://notes.pipal.in/tmp/static/codemirror/lib/codemirror.js"></script>
<script src="https://notes.pipal.in/tmp/static/codemirror/mode/python/python.js"></script>
<script src="https://notes.pipal.in/tmp/static/codemirror/keymap/sublime.js"></script>

<script src="https://notes.pipal.in/tmp/static/codemirror/addon/edit/matchbrackets.js"></script>
<script src="https://notes.pipal.in/tmp/static/codemirror/addon/comment/comment.js"></script>

<script type="text/javascript" src="https://notes.pipal.in/tmp/static/livecode.js"></script>

{% endblock %}
