body {
    background: #F8F9FA;
}

h1 {
    margin-top: 1.2rem;
}

.training-header {
    margin-bottom: 20px;
    padding: 20px;
    background: #eee;
    border-radius: 8px;
}

.training-header .h2 {
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.problem-description h1, .problem-description h2, .problem-description h3, .problem-description h4, .problem-description h5, .problem-description h6 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}

.card {
    margin: 20px 0px;
}

.training-body {
    margin: 20px 0px;
}

.tick {
    color: green;
}

@media (min-width: 768px) {

    .border-md-right {
	border-right: 1px solid #E2E6E9 !important;
    }

    .border-md-left {
	border-left: 1px solid #E2E6E9 !important;
    }
}
