{% extends "templates/custom_web.html" %}

{% block page_content %}
{% set client = frappe.get_doc("Client", training.client) %}
<div class="mb-4">
  <div class="h1">{{ training.title }}</div>
  <div class="text-muted">For <strong>{{ client.title }}, {{ training.year }}</strong> <em>({{ training.name }})</em></div>
</div>
<div class="mb-4">
  <div class="h4 pb-0 mb-0">
    Timings:
  </div>
  <div>
    {{ frappe.format_date(training.begin_date) }} → {{ frappe.format_date(training.end_date) }}, {{ training.timing }}
  </div>
</div>
<div class="mb-4">
  <div class="h4 pb-0 mb-0">Trainers ({{ training.trainers|length }})</div>
  {% if training.trainers %}
  <div class="text-muted small">To add more trainers, use the <a href="/app/training/{{ training.name }}">Desk</a> interface.</div>
  <table class="table mt-2">
    <thead>
      <tr>
	<th scope="col">#</th>
	<th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      {% for trainer in training.trainers %}
      {% set trainer_user = frappe.get_doc("User", trainer.user) %}
      <tr>
	<th scope="row">{{ loop.index }}</th>
	<td>{{ trainer_user.full_name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="small text-muted">This training has no trainers set. Please add some from <a href="/app/training/{{ training.name }}">Desk</a>.</div>
  {% endif %}
</div>

<div class="mb-4">
  <div class="h4 pb-0 mb-0">Participants ({{ training.participants|length }})</div>
  {% if training.participants %}
  <div class="small text-muted">To add more participants, use the <a href="/app/training/{{ training.name }}">Desk</a> interface.</div>
  <table class="table mt-2">
    <thead>
      <tr>
	<th scope="col">#</th>
	<th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      {% for participant in training.participants %}
      {% set participant_user = frappe.get_doc("User", participant.user) %}
      <tr>
	<th scope="row">{{ loop.index }}</th>
	<td>{{ participant_user.full_name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="small text-muted">This training has no participants set. Please add some from <a href="/app/training/{{ training.name }}">Desk</a>.</div>
  {% endif %}
</div>

<div class="mb-4">
  <div class="h4 pb-0 mb-0">Reviewers ({{ training.reviewers|length }})</div>
  {% if training.reviewers %}
  <div class="small text-muted">To add more reviewers, use the <a href="/app/training/{{ training.name }}">Desk</a> interface.</div>
  <table class="table mt-2">
    <thead>
      <tr>
	<th scope="col">#</th>
	<th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      {% for reviewer in training.reviewers %}
      {% set reviewer_user = frappe.get_doc("User", reviewer.user) %}
      <tr>
	<th scope="row">{{ loop.index }}</th>
	<td>{{ reviewer_user.full_name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="small text-muted">This training has no reviewers set. Please add some from <a href="/app/training/{{ training.name }}">Desk</a>.</div>
  {% endif %}
</div>
{% endblock %}
