body {
    background: #F8F9FA;
}

.training-header {
    margin-bottom: 20px;
    padding: 20px;
    background: #eee;
    border-radius: 8px;
}

.training-header .h2 {
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.card {
    margin: 20px 0px;
}

.training-body {
    margin: 20px 0px;
}

.tick {
    color: green;
}
