{% extends "templates/custom_web.html" %}

{% block head_include %}

{{ super() }}

<style>
  body {
    background: #F8F9FA;
  }

  h1 {
    margin-top: 1.2rem;
  }

  .training-header {
    margin-bottom: 20px;
    padding: 20px;
    background: #eee;
    border-radius: 8px;
  }

  .training-header h2 {
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .sidebar .card {
    margin: 20px 0px;
  }

  .training-body {
    margin: 20px 0px;
  }

  .tick {
    color: green;
  }
</style>

{% endblock %}

{% macro render_breadcrumbs() %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/trainings/">Trainings</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ t.title }}</li>
  </ol>
</nav>
{% endmacro %}

{% macro Sidebar() %}
<div class="sidebar">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Participants</h5>
    </div>

    <ul class="list-group list-group-flush">
      {% for p in participants %}
      <span class="list-group-item list-group-item-action">{{p.full_name}}</span>
      {% endfor %}
    </ul>

  </div>

</div>
{% endmacro %}

{% macro ProblemSet(pset) %}
<div class="my-5">
  <h3>{{ pset.title }}</h3>
  <div>
    {% for p in pset.problems %}
    <button
      type="button"
      class="btn btn-problem btn-sm {{ 'btn-success' if p.solution else 'btn-light'}}"
      data-target="#problem-{{p.name}}"
      >
      {{p.title}}
    </button>
      {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro ProblemSets() %}
<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      {% for ps in problem_sets %}
      <span class="list-group-item"><strong>{{ps.title}}</strong></span>
      {% for p in ps.problems %}
      <a class="list-group-item list-group-item-action problem-link"
	 href="javascript:;"
	 id="problem-{{ p.name }}"
	 data-title='{{ p.title }}'
	 data-description='{{ frappe.utils.md_to_html(p.description) | e }}'
	 data-code='{{ p.code | e }}'>
	<svg class="icon icon-sm">
	  {% if not p.solution %}
	  {% elif p.solution.test_outcome == "passed" %}
	  <use href="#icon-tick"></use>
	  {% elif p.solution.test_outcome == "failed" %}
	  <use href="#icon-close"></use>
	  {% else %}
	  {% endif %}
	</svg>
	{{p.title}}
      </a>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-8 problem-page">
    <h5 id="problem-title"></h5>
    <div id="problem-description"></div>

    <pre id="problem-code" style="background: #eeeedd; padding: 20px; border-radius: 10px;"></pre>
  </div>
</div>
{% endmacro %}

{% macro TrainingBody() %}
<div class="row">
  <div class="col-md-9">
    <div class="training-body">
      {{ ProblemSets() }}
    </div>
  </div>
  <div class="col-md-3">
    {{ Sidebar() }}
  </div>
</div>
{% endmacro %}

{% block page_content %}
<div class="training-page">
  {{ render_breadcrumbs() }}

  <div class="training-header">
    <h2>{{t.title}}</h2>
    <div class="training-dates">{{frappe.utils.format_date(t.begin_date, "MMM dd")}} - {{
      frappe.utils.format_date(t.end_date, "MMM dd") }}, {{t.end_date.year}}</div>
    <div>
      <div>{{client.title}}</div>
    </div>
    {% if trainers|length > 1 %}
    {% set other_trainers = trainers|selectattr("user", "!=", frappe.session.user) %}
    {# other_trainers = (t for t in trainers if t.user != frappe.session.user) #}
    <div>
      With
      {% for trainer in other_trainers %}
      {{trainer.full_name}}{% if not loop.last %},{% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {{ TrainingBody() }}
</div>
{% endblock %}

{% block body_include %}

{{ super() }}

<script>
function showProblem(selector) {
    var data = $(selector).data();
    console.log(data);
    $("#problem-title").html(data.title);
    $("#problem-description").html(data.description);
    $("#problem-code").html("");
    $("#problem-code").html(data.code);
    // $("#problem-code").html(data.solution.code);
}

$(function() {
   $(".problem-link").on('click', function() {
      $(".problem-link").removeClass("active");
      $(this).addClass("active");
      showProblem(this);
   });
});
</script>

{% endblock %}
