{% extends "templates/custom_web.html" %}

{% macro render_breadcrumbs() %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/trainings/">Trainings</a></li>
    <li class="breadcrumb-item"><a href="/trainings/{{ training.name }}/">{{ training.title }}</a></li>
    <li class="breadcrumb-item active">Review</li>
  </ol>
</nav>
{% endmacro %}

{% macro Sidebar() %}
<ul class="list-group">

  <li class="list-group-item p-0">
    <div class="row m-0 p-0">
      <a {{ hrefify(get_review_link(training.name, problem=q['problem'], participant=prev_participant.user)) if
        prev_participant }} class="col-6 text-decoration-none text-center border-right mx-0 py-1 pl-2">Previous</a>
      <a {{ hrefify(get_review_link(training.name, problem=q['problem'], participant=next_participant.user)) if
        next_participant }} class="col-6 text-decoration-none text-center border-left mx-0 py-1 pr-2">Next</a>
    </div>
  </li>

  <li class="list-group-item d-flex justify-content-between card-body">
    <div class="h5 card-title">Participants</div>
  </li>

  <li class="list-group-item d-flex justify-content-between">
    <span><strong>Name</strong></span>
    <span><strong>Solved</strong></span>
  </li>
  {% for p in training.participants %}
  <a class="list-group-item list-group-item-action {{ 'active' if p.active }}"
    href="{{ get_review_link(training.name, problem=q['problem'], participant=p.user) }}">
    <div class="d-flex justify-content-between">
      <span>{{ p.full_name }}</span>
      <span>{{ p.num_solved }}</span>
    </div>
  </a>
  {% endfor %}
</ul>
{% endmacro %}

{% macro ProblemSet(pset) %}
<div class="my-5">
  <h3>{{ pset.title }}</h3>
  <div>
    {% for p in pset.problems %}
    <button type="button" class="btn btn-problem btn-sm {{ 'btn-success' if p.solution else 'btn-light'}}"
      data-target="#problem-{{p.name}}">
      {{p.title}}
    </button>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro hrefify(url) -%}
href="{{ url }}"
{%- endmacro %}

{% macro LeftSidebar() %}
<ul class="list-group">
  <li class="list-group-item p-0">
    <div class="row m-0 p-0">
      <a {{ hrefify(get_review_link(training.name, problem=prev_problem.problem, participant=participant.user)) if
        prev_problem }} class="col-6 text-decoration-none text-center border-right mx-0 py-1 pl-2">Previous</a>
      <a {{ hrefify(get_review_link(training.name, problem=next_problem.problem, participant=participant.user)) if
        next_problem }} class="col-6 text-decoration-none text-center border-left mx-0 py-1 pr-2">Next</a>
    </div>
  </li>

  {% for ps in problem_sets %}
  <span class="list-group-item"><strong>{{ps.title}}</strong></span>

  {% for problem_ref in ps.problems %}
  {% set solution = user_submissions[problem_ref.problem] %}

  {{ solution }}

  <a class="list-group-item list-group-item-action problem-link {{ 'active' if problem_ref.problem == problem.name }}"
    href="{{ get_review_link(training.name, problem=problem_ref.problem, participant=participant.user) }}">
    <div class="d-flex justify-content-between">
      <span>
        <svg class="icon icon-sm">
          {% if not solution %}
          {% elif solution.test_outcome == "passed" %}
          <use href="#icon-tick"></use>
          {% elif solution.test_outcome == "failed" %}
          <use href="#icon-close"></use>
          {% else %}
          {% endif %}
        </svg>
        <span>{{problem_ref.problem_title}}</span>
      </span>
      {% if problem_ref.problem in user_submissions %}
      <span class="align-items-bottom">
        <i class="fa-solid fa-circle-check"></i>
      </span>
      {% endif %}
    </div>
  </a>
  {% endfor %}
  {% endfor %}
</ul>
{% endmacro %}

{% macro Problem(problem) %}
{% set submission = user_submissions.get(problem.name) %}
<div class="problem-page">
  <div class="h5" id="problem-title">{{ problem.title }}</div>
  <div id="problem-description" class="problem-description">{{ frappe.utils.md_to_html(problem.description) }}</div>

  <pre id="problem-code" style="background: #eeeedd; padding: 20px; border-radius: 10px;">
    {%- if submission is none -%}
    <em>Not submitted</em>
    {%- else -%}
    {{ submission.code | e }}
    {%- endif -%}
  </pre>
</div>

<div>
  {{ Discussions(problem) }}
</div>
{% endmacro %}

{% macro Discussions(problem) %}
{% set submission = user_submissions.get(problem.name) %}
{% if submission.name %}
<div id="problem-review-section">
  {% set doctype = "Practice Problem Latest Submission" %}
  {% set docname = submission.name %}
  {% set title = "Review Comments" %}
  {% set cta_title = "New Comment" %}
  {% set single_thread = True %}
  {% include "frappe/templates/discussions/discussions_section.html" %}
</div>
{% endif %}
{% endmacro %}

{% macro TrainingBody() %}
<div class="row">
  <div class="col-md-3">
    {{ LeftSidebar() }}
  </div>

  <div class="col-md-6">
    <div class="training-body mt-0">
      {{ Problem(problem) }}
    </div>
  </div>

  <div class="col-md-3">
    {{ Sidebar() }}
  </div>
</div>
{% endmacro %}

{% macro EmptyTrainingBody(need) %}
<em>Please add {{ need }} to the training</em>
{% endmacro %}

{% block page_content %}
<div class="training-page">
  {{ render_breadcrumbs() }}

  <div class="training-header">
    <div class="h2">{{training.title}}</div>
    <div class="training-dates">{{frappe.utils.format_date(training.begin_date, "MMM dd")}} - {{
      frappe.utils.format_date(training.end_date, "MMM dd") }}, {{training.end_date.year}}</div>
    <div>
      {% set client = frappe.get_doc("Client", training.client) %}
      <div>{{client.title}}</div>
    </div>
  </div>

  {% if not participant %}
  {{ EmptyTrainingBody("participants") }}
  {% elif not problem %}
  {{ EmptyTrainingBody("problems") }}
  {% else %}
  {{ TrainingBody() }}
  {% endif %}
</div>
{% endblock %}
