{% extends "templates/custom_web.html" %}

{% macro TrainingHeader(training) %}
<div class="training-header">
    <div class="h2">{{training.title}}</div>
    <div class="training-dates">{{frappe.utils.format_date(training.begin_date, "MMM dd")}} - {{
        frappe.utils.format_date(training.end_date, "MMM dd") }}, {{training.end_date.year}}</div>
    <div>
        {% set client = frappe.get_doc("Client", training.client) %}
        <div>{{client.title}}</div>
    </div>
</div>
{% endmacro %}

{% macro SubmissionCard(submission) %}
{% set author_name = submission.author_full_name or submission.author %}
{% set published_ago = submission.submitted_at and format_datetime_diff(frappe.utils.now_datetime() ,
submission.submitted_at) %}
<div class="submission-card p-4 my-4">
    <div class="submission-card-header mb-4 d-flex justify-content-between">
        <div class="">
            <div><strong>{{ author_name }}'s solution</strong></div>
            <div class="text-muted">to {{ submission.problem_title }} in {{ submission.problem_set_title }}</div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            {% if submission.test_outcome == "passed" %}
            <i class="fa-solid fa-circle-check tests-passed-icon"></i>
            {% else %}
            <i class="fa-solid fa-circle-xmark tests-failed-icon"></i>
            {% endif %}
        </div>
    </div>
    <div class="submission-card-body">
        <pre class="code w-100">
        {{- submission.code -}}
        </pre>
    </div>
    <div class="submission-card-footer">
        {% if published_ago %}
        Published {{ published_ago }} ago
        {% endif %}
    </div>
</div>
{% endmacro %}

{% block page_content %}
{{ TrainingHeader(training) }}

<div class="submissions">
    <div class="h1">Submissions</div>

    <div class="row">
        {% for submission in submissions %}
        <div class="col-12 col-md-6 col-xl-4">{{ SubmissionCard(submission) }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
