:root {
  --dark-slate: #192734;
  --light-slate: #f1f5f9;
  --muted-slate: #475569;

  --dark: var(--dark-slate);
  --light: var(--light-slate);
}

.text-muted {
  color: var(--muted-slate);
}

.bg-muted {
  background-color: var(--muted-slate);
}

.text-dark {
  color: var(--dark) !important;
}

.text-light {
  color: var(--light) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.reply-body blockquote {
  margin: 0 0 1rem;
  padding: 0 1em;
  border-left: 0.25em solid var(--gray-300);
  color: #74808B !important;
}
